.grid {
  background-color:azure;
  display: inline-block;
  font-size: 0;
}

.navbar-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding-bottom: 1vh;
  background-color: #255d83;
  align-items: center;
  justify-content: center;
}

.navbar-container-col{
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  margin: auto;
  background-color: #255d83;
  align-items: center;
  justify-content: center;
}

.navbar-container div{
  padding: 10px 10px;
}


li {
  list-style-type: none;
  margin: 0 0.2vw;
  float: left;
}

li a {
  display: inline-block;
  background-color: #735983;
  border-radius: 8px;
  color: white;
  padding: 0 1vw;
  text-align: center;
  text-decoration: none;
}


li .dropbtn-med {
  flex:3;
  height: 7.5vh;
  line-height: 7.5vh;
  background-color: #735983;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
}

li .dropbtn-sml {
  flex:2;
  height: 7.5vh;
  line-height: 7.5vh;
  background-color: #735983;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
}


li .smlbtn {
  flex:3;
  height: 7.5vh;  
  line-height: 7.5vh;
  color: white;
  background-color: #735983;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

li button:hover,
.smlbtn:hover {
  background-color: #cc6686;
  cursor: pointer;
}

li a:hover,
.dropdown:hover .dropbtn .dropbtn-sml .dropbtn-med {
  background-color: #cc6686;
  cursor: pointer;
}

li .dropdown {
  display: inline-block;
}

.dropdown-content {
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 215px;
  display: block;
  text-align: left;
}

.dropdown-content-sml {
  border-radius: 8px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: white;
  width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content-sml a {
  border-radius: 8px;
  background-color: white;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  width: 120px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ff687e;
  cursor: pointer;
}

.dropdown-content-sml a:hover {
  background-color: #ff687e;
  cursor: pointer;
}

.dropdown:hover .dropdown-content-sml {
  width: 155px;
  display: block;
}

.dropdown:hover .dropdown-content {
  width: 250px;
  display: block;
}
